{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


		<title>Le Pomier Bokhyun, Bake Choi :)</title>
	</head>
	<body>
		<div class="page-header">
			<h1><a href="">Le Pomier Bokhyun, Bake Timer :)</a></h1>
		</div>


<div class="content container">
    <div class="row">
        <div class="col-md-8">
			{% for bread in breads %}
			<div class="bread">
			<h1><a href = "">{{ bread.name }}</a></h1>
			<p><img src='uploads/{{ bread.image_file }}'></p>
				<p>{{ bread.description }}</p>
				<p>release at: {{ bread.release_at }}</p>
			</div>
			{% endfor %}
        </div>
    </div>
</div>


		<div>
			<p>published: 15.02.29, 12:59</p>
			<h2><a href="">Welcome to my Bakery :)</a></h2>
			<p>We bake good</p>
		</div>


		<div>
			<p>published: 15.03.01, 02:36</p>
			<h2><a href="">I will introduce my goods</a></h2>
			<p>We bake good</p>
		</div>
	</body>
</html>