<html>
	<head>
		<title>Le Pomier Bokhyun, Bake Choi :)</title>
		<p>Hi there!</p>
		<p>It works!</p>
	</head>
	<body>
		<div>
			<h1><a href="">Le Pomier Bokhyun, Bake Timer!!</a></h1>
		</div>


		
			{% for bread in breads %}
			<div>
			<h1><p><img src='uploads/{{ bread.image_file }}'></p></h1>
				<p>{{ bread.description }}</p>
				<p>release at: {{ bread.release_at }}</p>
			</div>
			{% endfor %}
		


		<div>
			<p>published: 15.02.29, 12:59</p>
			<h2><a href="">Welcome to my Bakery :)</a></h2>
			<p>We bake good</p>
		</div>


		<div>
			<p>published: 15.03.01, 02:36</p>
			<h2><a href="">I will introduce my goods</a></h2>
			<p>We bake good</p>
		</div>
	</body>
</html>