{% extends "bread/page_base.html" %}

{% block content %}

<div class="container">
  <div class="starter-template">
    <h1>르 뽀미에 베이커리,<br>복현롯데슈퍼점</h1>
    <p class="lead">맛있는 빵을 준비합니다.<br>여러분을 위해서요.</p>
  </div>
</div>





  <div class="container">
    {% for bread in breads %}
    <!-- 나온지 한 시간이 지나면 빵 목록에서 사라짐 -->
      {% if limitTime|date:"U" < bread.release_at|date:"U" %} 
    <div class="starter-template">
      <h1><a href = "">{{ bread.name }}</a></h1>
      <p><img src='uploads/{{ bread.image_file }}' style="max-width: 100%; height: auto;"></p>
      <p class="lead">{{ bread.description }}</p>


      <script language="javascript">

        $(document).ready(function(){
            //초기값
            var epoch = {{ nowTime|date:"U" }}//new Date().getTime() / 1000;
            epoch = Math.floor(epoch);

            var release = {{ bread.release_at|date:"U" }};
                            
            var timeleft = release - epoch; 

            var timeover = false;

            if(timeleft < 0)
            {
                timeover = true;
                timeleft = epoch - release;
            }

            var hour = Math.floor(timeleft / 3600);
            var minute = Math.floor((timeleft % 3600) / 60);
            var second = Math.floor(timeleft % 60)
            // 초기화
            $(".countTimeHour{{ bread.id }}").html(hour);
            $(".countTimeMinute{{ bread.id }}").html(minute);
            $(".countTimeSecond{{ bread.id }}").html(second);
            
            var timer = setInterval(function () {
                    // 설정
                    $(".countTimeHour{{ bread.id }}").html(hour);
                    $(".countTimeMinute{{ bread.id }}").html(minute);
                    $(".countTimeSecond{{ bread.id }}").html(second);
                    $(".getTimeover{{ bread.id }}").html(timeover);
                    
                    if(timeover){                        
                        second++;

                        
                        // 분처리
                        if(second > 59){
                            minute++;
                            second = 0;
                        }
                        
                        //시간처리
                        if(minute > 59){
                            
                            hour++;
                            minute = 0;
                        }
                    }else{
                        if(timeleft <= 0)
                        {
                          location.reload(true);
                          timeover = true;
                        }
                        second--;
                        timeleft--;
                        
                        // 분처리
                        if(second < 0){
                            minute--;
                            second = 59;
                        }
                        
                        //시간처리
                        if(minute < 0){
                            if(hour > 0){
                                hour--;
                                minute = 59;
                            }
                            
                        }
                    }
                }, 1000); /* millisecond 단위의 인터벌 */
        });
      </script>








      {% if bread.release_at|date:"U" < nowTime|date:"U" %}
      <div class="redbig">
        <strong>빵이 나왔습니다! </strong>        
      </div>

      {% else %}

      <div class="blackbig">
        <strong>빵 나오기 </strong>
        <span class="countTimeHour{{ bread.id }}">60</span>시간
        <span class="countTimeMinute{{ bread.id }}">60</span>분
        <span class="countTimeSecond{{ bread.id }}">60</span>초
        <strong> 전! </strong>
      </div>
      {% endif %}

    </div>
    {% endif %}
    {% endfor %}
  </div>

{% endblock %}